HoboSigns/libraries/opencv/build/outputs/aar/opencv-release.aar
HoboSigns/libraries/opencv/build/outputs/aar/opencv-release.aar
HoboSigns/libraries/opencv/build/intermediates/res/resources-debug-androidTest.ap_
HoboSigns/libraries/opencv/build/outputs/aar/opencv-release.aar
HoboSigns/libraries/opencv/build/intermediates/bundles/release/classes.jar
HoboSigns/libraries/opencv/build/intermediates/bundles/release/classes.jar
HoboSigns/libraries/opencv/build/generated/source/aidl/debug/org/opencv/engine/OpenCVEngineInterface.java
HoboSigns/libraries/opencv/build/tmp/packageDebugJar/MANIFEST.MF
HoboSigns/libraries/opencv/build/outputs/aar/opencv-debug.aar
HoboSigns/libraries/opencv/build/intermediates/incremental/packageResourcesdebug/merger.xml
HoboSigns/libraries/opencv/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
HoboSigns/libraries/opencv/build/intermediates/bundles/debug/classes.jar